*{
  margin:0;
  padding:0;
  font-family: 'Involve', sans-serif;

}
body{
  margin: auto;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
  max-width: 430px;
  max-height: 932px;
  min-width: 320px;
  overflow-y: hidden;

}
#root{
  overflow-y: auto;
  font-family: Arial, sans-serif; /* Шрифт по умолчанию */
  max-height: 100vh;
  display: flex; /* Используем флексбокс для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  color: #fff;
  flex-wrap: wrap;
}
#root::-webkit-scrollbar {  
  display: none; /* Скрываем скролл-бар */  
}  
.App{
    text-align: center;
    background: url(../img/image8.png);
   
    box-sizing: border-box;
    background-size: cover;

    width: 100vh;
    height: 100vh;
    position: relative;
}



.button{
  background-color: #533FA1;
}
.faq-page p{
  width: 90%;
    padding: 20px;
    font-size: 15px;
    line-height: 1rem;
    margin: 10px auto;
    padding: 20px 10px;
    background: #170d3a;
    border-radius: 10px
}
.faq-page p:hover{
  background:#35266b;
}
.faq-page{
  padding-top: 25px;
}
.faq-page span{
  width: 80%;
  display: block;
  margin: auto;
  font-size: .9rem;
  opacity: .9;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(41 32 73);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}

.loader {
  border: 3px solid #cbc6e1;
  border-top: 3px solid #9985a1;
  border-radius: 50%;
  width: 50px; 
  height: 50px; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.ico-home{
  filter: invert(1);
  width: 26px;
  opacity: .6;

}
.ico-chat{
  filter: invert(1);
  width: 24px;
  opacity: .6;
}
.ico-profile{
  filter: invert(1);
  width: 25px;
  opacity: .6;
}
.ico-send{
  filter: invert(1);
  width: 20px;
}