*{
  margin:0;
  padding:0;
  font-family: 'Involve', sans-serif;
  max-width: 420px;
  max-height: 730px;
}
body{

  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}
@media (max-width: 935px) {
#root{

  font-family: Arial, sans-serif; /* Шрифт по умолчанию */
  height: 100vh; /* Высота экрана */
  display: flex; /* Используем флексбокс для центрирования */
  justify-content: center; /* Центрируем по горизонтали */
  align-items: center; /* Центрируем по вертикали */
  color: #fff;
  flex-wrap: wrap;
}

.App{
    text-align: center;
    background: url(../img/image8.png);
    background-repeat: round;
    box-sizing: border-box;
    width: 100vh;
    height: 100vh;
    position: relative;
}
}
@media (min-width: 935px) {
  #root{

    font-family: Arial, sans-serif; /* Шрифт по умолчанию */
    height: 100vh; /* Высота экрана */
    display: flex; /* Используем флексбокс для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
    color: #fff;
    flex-wrap: wrap;
  }
  
  .App{
      text-align: center;
      background: #280b3f;
      background-repeat: round;
      box-sizing: border-box;
      max-width: 2520px;
      width: 100%;
 
      height: 100%;
      position: relative;
  }
}


.button{
  background-color: #533FA1;
}