.chat-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
}

.chat-header {
  background-color: #32025f; /* Фиолетовый цвет */
  text-align: center;
  padding: 10px;
  border-radius: 8px; /* Скруглённые углы */
}

.chat-header h2 {
  font-size: 18px; /* Уменьшаем размер текста */
  color: #ffffff; /* Белый цвет текста */
  margin: 0;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  font-size: 12px;
}

.message.user {
  align-items: flex-end; /* Выравниваем элементы по правому краю */
}

.message.bot {
  align-items: flex-start; /* Сообщения бота остаются слева */
}

.avatar-container {
  display: flex;
  flex-direction: row; /* Рядом располагаем подпись и аватар */
  align-items: center; /* Центрируем по вертикали */
  gap: 5px; /* Отступ между подписью и аватаром */
}

.message.user .avatar-container {
  flex-direction: row-reverse; /* Инвертируем порядок: подпись -> аватар */
  justify-content: flex-end; /* Выравниваем элементы по правому краю */
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-label {
  font-size: 10px; /* Уменьшенный шрифт для подписи */
  color: gray; /* Цвет текста */
}

.message-text {
  max-width: 60%;
  padding: 5px;
  border-radius: 10px;
  background: rgba(70, 67, 67, 0); /* Прозрачный фон */
  text-align: left;
  word-wrap: break-word;
  margin-top: 5px; /* Отступ между текстом и аватаром */
}

.chat-input {
  display: flex;
  align-items: center;
  background-color: #54028a63; /* Фон для блока */
  border-radius: 20px 20px 0 0; /* Скругление верхних углов */
  padding: 10px;
  position: fixed; /* Фиксируем внизу окна */
  bottom: 60px; /* Отступ от нижнего края окна */
  width: 94%; /* Немного уменьшаем ширину */
  left: 50%; /* Центрируем блок */
  transform: translateX(-50%); /* Выравниваем по центру */
}

.chat-input input {
  color: #fff;
  flex-grow: 1; /* Поле ввода растягивается на всю доступную ширину */
  padding: 10px;
  border: none; /* Убираем границу */
  background-color: transparent; /* Прозрачный фон */
  outline: none; /* Убираем обводку при фокусе */
  
}

.chat-input button {
  padding: 10px 15px; /* Размер кнопки */
  border: none;
  background-color: #32025f00; /* Фиолетовый цвет кнопки */
  color: white;
  border-radius: 50%; /* Кнопка становится круглой */
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.typing-indicator {
  position: absolute; /* Позволяет точно позиционировать элемент */
  bottom: 130px; /* Расстояние от нижнего края окна */
  left: 10px; /* Расстояние от левого края окна */
  font-style: italic; /* Курсив */
  font-size: 10px; /* Очень маленький шрифт */
  color: gray; /* Серый цвет текста */
  
}
